<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nanny Now.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NotificationContentExtensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>NotificationMessageResponse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>NotificationRequestMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NotificationServiceExtensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CCB1C661EB563C700C131A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCF0C701D898BFB0089F39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4A9E51EBBBEF40018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4A9FB1EBBC0520018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4AA0D1EBBD7A00018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4AA1C1EBBD9520018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4AA301EBBDD5D0018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4AA441EBBDF970018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CE4AA531EBBFB5A0018A831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
